In [1]:
from pyspark.sql import SparkSession
import os

from pyspark.sql import functions as F
from pyspark.sql.functions import col, when, lit

In [2]:
spark = (
    SparkSession
    .builder 
    .appName("Preprocessing SDM") 
    .config("spark.driver.memory", "2g") 
    .getOrCreate()
)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/31 11:20:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Preprocessing

## Idealista Dataset

### Union Files in one dataframe

In [3]:
dfs_idealista = [spark.read.parquet(f'../P2_data/idealista/{file}') for file in os.listdir('../P2_data/idealista')]


# Convert each list to a set
sets = [set(df.columns) for df in dfs_idealista]

# Find the common elements among all sets
common_values = set.intersection(*sets)

all_variables = set.union(*sets)

In [4]:
all_variables - common_values

{'neighborhood', 'newDevelopmentFinished', 'parkingSpace'}

In [6]:
from pyspark.sql import DataFrame
from pyspark.sql.functions import col

def flatten_struct(df: DataFrame, struct_col: str) -> DataFrame:
    struct_fields = df.schema[struct_col].dataType.fields
    for field in struct_fields:
        df = df.withColumn(f"{struct_col}_{field.name}", col(f"{struct_col}.{field.name}"))
    df = df.drop(struct_col)
    return df

In [10]:
flatten_dfs_idealista = []
for df in dfs_idealista:
    for columna , dtype in df.dtypes:
        if "struct" in dtype:
            df = (flatten_struct(df, columna))
    flatten_dfs_idealista.append(df)

In [11]:
def union_dataframes_by_column(self, df2):
    df1 = self
    cols1 = set([*map(lambda x: str(x).lower(), df2.columns)]) - set(
        [*map(lambda x: str(x).lower(), df1.columns)]
    )
    cols2 = set([*map(lambda x: str(x).lower(), df1.columns)]) - set(
        [*map(lambda x: str(x).lower(), df2.columns)]
    )

    select_statement = []
    for columna in cols1:
        select_statement.append(
            lit(None).alias(columna).cast(df2.select(columna).dtypes[0][1])
        )

    df1 = df1.select(*df1.columns, *select_statement)

    select_statement = []
    for columna in cols2:
        select_statement.append(
            lit(None).alias(columna).cast(df1.select(columna).dtypes[0][1])
        )
    df2 = df2.select(*df2.columns, *select_statement)

    df1 = df1.select((df1.columns))
    df2 = df2.select(
        (df1.columns)
    )  # ordenamos las columnas de la misma forma que el df1

    df = df1.unionAll(df2)

    return df

In [12]:
union_dfs_idealista = flatten_dfs_idealista[0]
for df in flatten_dfs_idealista[1:]:
    union_dfs_idealista = union_dataframes_by_column(union_dfs_idealista, df)

### Handle duplicates, reconciliate data, clean, etc.

In [14]:
union_dfs_idealista.dtypes

[('address', 'string'),
 ('bathrooms', 'bigint'),
 ('country', 'string'),
 ('distance', 'string'),
 ('district', 'string'),
 ('exterior', 'boolean'),
 ('externalReference', 'string'),
 ('floor', 'string'),
 ('has360', 'boolean'),
 ('has3DTour', 'boolean'),
 ('hasLift', 'boolean'),
 ('hasPlan', 'boolean'),
 ('hasStaging', 'boolean'),
 ('hasVideo', 'boolean'),
 ('latitude', 'double'),
 ('longitude', 'double'),
 ('municipality', 'string'),
 ('neighborhood', 'string'),
 ('newDevelopment', 'boolean'),
 ('numPhotos', 'bigint'),
 ('operation', 'string'),
 ('price', 'double'),
 ('priceByArea', 'double'),
 ('propertyCode', 'string'),
 ('propertyType', 'string'),
 ('province', 'string'),
 ('rooms', 'bigint'),
 ('showAddress', 'boolean'),
 ('size', 'double'),
 ('status', 'string'),
 ('thumbnail', 'string'),
 ('topNewDevelopment', 'boolean'),
 ('url', 'string'),
 ('detailedType_subTypology', 'string'),
 ('detailedType_typology', 'string'),
 ('parkingSpace_hasParkingSpace', 'boolean'),
 ('parkingSpace_isParkingSpaceIncludedInPrice', 'boolean'),
 ('parkingSpace_parkingSpacePrice', 'double'),
 ('suggestedTexts_subtitle', 'string'),
 ('suggestedTexts_title', 'string'),
 ('newdevelopmentfinished', 'boolean')]

In [17]:
def get_dataframe_shape(df):
    num_rows = df.count()       # Count the number of rows
    num_columns = len(df.columns)  # Get the number of columns
    return num_rows, num_columns

rows, cols = get_dataframe_shape(union_dfs_idealista)
print(f"The DataFrame has {rows} rows and {cols} columns.")

The DataFrame has 21073 rows and 41 columns.

In [18]:
union_dfs_idealista = union_dfs_idealista.dropDuplicates(['propertyCode'])

In [19]:
rows, cols = get_dataframe_shape(union_dfs_idealista)
print(f"The DataFrame has {rows} rows and {cols} columns.")

The DataFrame has 10421 rows and 41 columns.

In [ ]:
union_dfs_idealista = union_dfs_idealista.dropna(subset=['propertyCode', 'address', 'price', 'size'])

## OpenData Dataset

In [15]:
df = spark.read.json(f'../P2_data/income_opendata/income_opendata_neighborhood.json')

In [ ]:
df = df.withColumn("info_last",(col("info")[6]))

In [ ]:
df.select("info_last")

DataFrame[info_last: struct<RFD:double,pop:bigint,year:bigint>]

In [ ]:
df = df.withColumn("population_district",col("info_last.pop"))
df = df.withColumn("rfd_district","info_last.rfd")

PySparkTypeError: [NOT_COLUMN] Argument `col` should be a Column, got str.